@model List<Genre>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Genre List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="tableData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Display order</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        <div class="row">
            <div class="col-6 text-start">
                <a asp-controller="Genre" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create new genre
                </a>
            </div>
        </div>
    </div>
</div>

<partial name="_ExtraSpace" />

@section Scripts {
    <script src="~/js/genre.js"></script>
    <script src="~/js/delete.js"></script>
}